<% content_for :title do -%>
  <%= "#{@meegen.name} - " -%>
<% end -%>

<div id="meegen_show" class="corner_round">
  
  <div id="meegen_name">
    <h1>
      <%=hbr @meegen.name %>
    </h1>
  </div>

  <div id="meegen_tags">
    分類： 
    <% @meegen.tags.each do |tag| -%>
      <span>
        <%= link_to tag.name, url_for(tag) -%>
        <% link_to :action => :remove_tag, :id => @meegen.id, :tag => tag.name do -%>
          [x]
        <% end -%>
      </span>
    <% end -%>
    <% form_tag :action => :add_tag do -%>
      <%= label_tag :tag %>
      <%= text_field_tag :tag %>
      <%= hidden_field_tag "meegen_id", @meegen.id %>
      <%= submit_tag "add tag" %>
    <% end -%>
  </div>

  <%= link_to '編集', edit_meegen_path(@meegen) %> |
  <%# link_to 'Destroy', @meegen, :confirm => 'Are you sure?', :method => :delete %>
  <%= link_to '戻る', meegens_path %>

  <% if false -%>
    <% @comment = Comment.new -%>
    <% form_for(@comment) do |f| %>
      <%= f.error_messages %>
      <p>
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </p>
        <%= f.hidden_field :meegen_id, :value => @meegen.id %>
      <!-- p>
        <%= f.label :user_name %><br />
        <%= f.text_field :user_name %>
      </p -->
      <p>
        <%= f.submit 'Create' %>
      </p>
    <% end %>
  <% end %>
</div>

