<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja"> 
  <head> 
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> 
    <meta content="text/css" http-equiv="Content-Style-Type" /> 
    <meta content="text/javascript" http-equiv="Content-Script-Type" /> 
    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "jquery-ui" %>
    <%= javascript_include_tag "jrails" %>
    <%= javascript_include_tag "jquery.corner" %>
    <%= javascript_include_tag "application" %>
    <%= yield :javascript %>

    <title><%= yield :title %>Meegen</title>
    <meta content="Meegen" name="description" /> 
    <meta content="名言, 言霊" name="keywords" /> 
    <meta content="kattton" name="author" /> 
    <meta content="Copyright &copy; kattton." name="copyright" />
    <%= stylesheet_link_tag "reset" %>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "jquery-ui-1.7.2.custom" %>
    <%= yield :header %>
  </head> 
  <body>
    <div id="wrapper">
      <div id="header" class="clearfix">
        <p class="right">
          <span>
          </span>
          <%= image_tag("/images/pngs/favorite.png", :title => "お気に入りに追加", :size => "60x60") %>
          <%= image_tag("/images/pngs/rss_2.png", :size => "60x60") %>
          <%= image_tag("/images/pngs/help.png", :size => "60x60") %>
        </p>
        <p class="left">
        <%= link_to(image_tag("/images/curlz_logo.png"), url_for("/")) %>
        </p>
      </div>

      <div id="container" class="corner_round">

        <script type="text/javascript"><!--
        google_ad_client = "pub-4917159630238133";
        /* 728x90, 作成済み 09/10/31 4C335A */
        google_ad_slot = "7143597360";
        google_ad_width = 728;
        google_ad_height = 90;
        //-->
        </script>
        <script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
        
        <%= yield %>
      </div>

      <div id="footer">
        <p>
          <script type="text/javascript"><!--
          google_ad_client = "pub-4917159630238133";
          /* 728x90, 作成済み 09/10/11 */
          google_ad_slot = "1303652162";
          google_ad_width = 728;
          google_ad_height = 90;
          //-->
          </script>
          <script type="text/javascript"
          src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
          </script>
        </p>
        <p>
          <%= link_to "TOP", url_for("/") %> |
          <%= link_to "Keyword", url_for(:keywords) %> |
          <%= link_to "Comment", url_for(:comments) %> 
        </p>
      </div>
    </div>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-3870468-3");
        pageTracker._trackPageview();
      } catch(err) {}</script>
  </body>
</html>


